<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
<body>
	<h1></h1>
	<h3></h3>
	<form class="pure-form">
		<fieldset>
			<label for="zip">Zip No: </label>
			<input type="number" name="zip" placeholder="Eg: 12345" autocomplete autofocus required>
			<input type="submit" class="pure-button pure-button-primary" value="Go">
		</fieldset>
	</form>
	<%- include("./partials/footer") %>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>